<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Load Test</title>
</head>
<body>
    <button id="0">EDM</button>
    <button id="1">Rock</button>
    <button id="2">Classical</button>
    <div>
        <img id="piccy" src="" />
        <h1 id="genre"></h1>
        <p id="music"></p>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>