body{
    padding-top: 70px;
}
p{
    width: 30vw;
}

.navbar-inverse{
    background-color: rgba(40,125,75,1);
    border-bottom: 3px solid rgba(20,105,55,1);
}

.navbar-inverse>.container>.navbar-header>a{
    color: rgb(225,225,225);
}
.navbar-inverse .navbar-nav>li>a {
    color: rgb(225,225,225);
}
