/* MOBILE */
    body{
        padding-top: 55px;
        background-color: #EDC7B7;
    }
    
    div{
        color: #123C69;
    }
    
    .row-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    
    #stylesheetDropdown{
        width: 20%;
        left: 5vw;
    }
    
    /*Navigation Bar*/
    
    
    a{
        color: #123C69;
    }
    
    .btn-primary:hover{
        border-color: #eee #eee #ddd;
        background-color: #eee;
    }
    .navbar-inverse{
        background-color: #BAB2B5;
    }
    .navbar-inverse>.container>.navbar-header>a{
        color: #123C69;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: #123C69;
    }
    
    .btn-primary{
        background-color: #BAB2B5;
        border-color: #BAB2B5;
        color: #123C69;
    }
    .btn-primary:hover{
        background-color: #BAB2B5;
        border-color: #BAB2B5;
        color: #123C69;
    }
    
    .btn-primary.active.focus, .btn-primary.active:focus, 
    .btn-primary.active:hover, .btn-primary:active.focus, 
    .btn-primary:active:focus, .btn-primary:active:hover, 
    .open>.dropdown-toggle.btn-primary.focus, 
    .open>.dropdown-toggle.btn-primary:focus, 
    .open>.dropdown-toggle.btn-primary:hover {
        background-color: #eee;
        border-color: #eee #eee #ddd;
        color: #123C69;
    }
    .btn-primary.focus, .btn-primary:focus {
        background-color: #eee;
        border-color: #eee;
        color: #123C69;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
        color: #123C69;
    }
    
    
    @media screen and (min-width: 767px){
        #phoneNavbar{
            display: none;
        }
    }
    
    
    
    /*Content*/
    
    h1{
        
    }
    p{
        color: #123C69;
    }
    
    .hiddenA {
        display: none;
    }
    
    .eventcontent p,
    .eventcontent h4{
        color: #FAFAFA;
        
    }
    
    .svg-inline--fa.fa-w-14{
        width: 25px;
        height: 25px;
        margin-left: 20px;
    }
    .svg-inline--fa.fa-w-16{
        width: 25px;
        height: 25px;
        margin-left: 20px;
    }
    .card{
        box-sizing: border-box;
        border: 7.5px solid #EDC7B7;
        border-radius: 22.5px;
        padding: 10px;
        background-color: #EEE2DC;
        /*height: 550px;*/
    }
    .card_image{
        box-sizing: border-box;
        border-radius: 10px;
        width: 75%;
        margin-left: 12.5%;
        margin-bottom: 10px;
        background-color: rgba(0,0,0,0)
    }
    .btn-danger>a{
        color: #FAFAFA;
        
    }
    .eventcontent{
        box-sizing: border-box;
        border: 7.5px solid #EDC7B7;
        border-radius: 22.5px;
        padding: 10px;
        background-color: #EEE2DC;
    }
    .eventpost{
        box-sizing: border-box;
        background-color: #123C69;
        color: #FAFAFA;
        padding: 10px;
        border: 7.5px solid #EEE2DC;
        border-radius: 22.5px;
        
    }
    .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-8, .col-xs-12{
        /*background-color: rgba(0,0,0,0);*/
        color: #FAFAFA;
        
    }
    
    
    /* Modal */
    
    #eventModal{
        color: #123C69;
    }
    
    .modal-content{
        background-color: #FAFAFA;
    }
    .form-control{
        background-color: #E0E0E0;
    }
    .descriptionInput{
        height: 150px;
        word-wrap: break-word;
    }
    
    textarea{
        width: 100%;
        height: 150px;
        background-color: #E0E0E0;
        border-color: #CCCCCC;
        border-radius: 10px;
        /*-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;*/
        /*-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;*/
        /*box-shadow: inset 2px 2px 2px 0px #dddddd;*/
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    input{
        line-height: 1em;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    select, input[type="color" i][list] {
        background-color: #E0E0E0;
        border: 1px solid #CCCCCC;
        border-image: initial;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    

/* COMPUTER */

    @media screen and (min-width: 768px){
        body{
            padding-top: 90px;
        }
        
        /*.card_image{*/
        /*    width: 75%;*/
        /*    text-align: center;*/
        /*    margin-left: 12.5%;*/
        /*}*/
    }