<div class="container">
    <h1>Trance!</h1>
    <a href="/find_artists" class="btn btn-danger btn-sm">Back</a>
    <h5>Pick A Sub-Genre:</h5>
    <div class="row-flex">
        <div class="col-xs-6 card">
            <h3>Acid Trance</h3>
            <img class="card_image" src="../media/img/acid_trance_image.jpg" alt="acid_trance_album_cover">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/acid_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Anthem Trance</h3>
            <img class="card_image" src="../media/img/anthem_trance_image.jpg" alt="anthem_trance_album_cover">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/anthem_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Classic Trance</h3>
            <img class="card_image" src="../media/img/classic_trance_image.jpg" alt="classic_trance_name">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/classic_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Dream Trance</h3>
            <img class="card_image" src="../media/img/dream_trance_image.jpg" alt="dream_trance_album_cover">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/dream_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Euro Trance</h3>
            <img class="card_image" src="../media/img/euro_trance_image.jpg" alt="euro_trance_top_hit_cover">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/euro_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Futurepop</h3>
            <img class="card_image" src="../media/img/futurepop_image.jpg" alt="futurepop_title">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/futurepop" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Goa Trance</h3>
            <img class="card_image" src="../media/img/goa_trance_image.jpg" alt="goa_trance_ganesh">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/goa_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Hard Trance</h3>
            <img class="card_image" src="../media/img/hard_trance_image.jpg" alt="hard_trance_title">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/hard_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Hardstyle</h3>
            <img class="card_image" src="../media/img/hardstyle_image.jpeg" alt="hardstyle_picture">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/hardstyle" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Ibiza Trance</h3>
            <img class="card_image" src="../media/img/ibiza_trance_image.jpg" alt="ibiza_trance_album_cover">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/ibiza_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Neo Trance</h3>
            <img class="card_image" src="../media/img/neo_trance_image.jpg" alt="neo_trance_title_drawing">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/neo_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Progressive Trance</h3>
            <img class="card_image" src="../media/img/progressive_trance_image.jpg" alt="progressive_trance_title">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/progressive_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Psychedelic Trance</h3>
            <img class="card_image" src="../media/img/psychedelic_trance_image.jpg" alt="psychedelic_trance_album_cover">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/psychedelic_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Tech Trance</h3>
            <img class="card_image" src="../media/img/tech_trance_image.jpg" alt="tech_trance_quote">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/tech_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Trance Fusion</h3>
            <img class="card_image" src="../media/img/trance_fusion_image.jpg" alt="trance_fusion_album_cover">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/trance_fusion" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Vocal Trance</h3>
            <img class="card_image" src="../media/img/vocal_trance_image.jpg" alt="vocal_trance_title_picture">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/vocal_trance" class="btn btn-danger btn-sm">More!</a>
        </div>
    </div>
</div>