<div class="container">
    <h1 id="title1"></h1>
    <a href="/project_1" class="btn btn-danger btn-sm">Back</a>
    <h5 id="subtitle1"></h5>
    <div class="row-flex">
        <div class="col-xs-6 card">
            <h3 id="header1"></h3>
            <img id="image1" class="card_image" src="" alt="">
            <p id="discription1"></p>
            <a id="button1" href="" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header2"></h3>
            <img id="image2" class="card_image" src="" alt="">
            <p id="discription2"></p>
            <a id="button2" href="" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header3"></h3>
            <img id="image3" class="card_image" src="" alt="">
            <p id="discription3"></p>
            <a id="button3" href="" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header4"></h3>
            <img id="image4" class="card_image" src="" alt="">
            <p id="discription4"></p>
            <a id="button4" href="" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header5"></h3>
            <img id="image5" class="card_image" src="" alt="">
            <p id="discription5"></p>
            <a id="button5" href="" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header6"></h3>
            <img id="image6" class="card_image" src="" alt="">
            <p id="discription6"></p>
            <a id="button6" href="" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header7"></h3>
            <img id="image7" class="card_image" src="" alt="">
            <p id="discription7"></p>
            <a id="button7" href="" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header8"></h3>
            <img id="image8" class="card_image" src="" alt="">
            <p id="discription8"></p>
            <a id="button8" href="" class="btn btn-danger btn-sm">More!</a>
        </div>
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
        <!--<div class="col-xs-6 card">-->
        <!--    <h3 id="header5"></h3>-->
        <!--    <img id="image5" class="card_image" src="" alt="">-->
        <!--    <p id="discription5"></p>-->
        <!--    <a href="" class="btn btn-danger btn-sm">More!</a>-->
        <!--</div>-->
    </div>
</div>