<div class="container">
    <h1 id="title1"></h1>
    <a href="/project_1" class="btn btn-danger btn-sm">Back</a>
    <h5 id="subtitle1"></h5>
    <div class="row-flex">
        <div class="col-xs-6 card">
            <h3 id="header1"></h3>
            <img id="image1" class="card_image" src="" alt="">
            <p id="discription1"></p>
            <a href="/techno" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header2"></h3>
            <img id="image2" class="card_image" src="" alt="trance_artists">
            <p id="discription2"></p>
            <a href="/trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header3"></h3>
            <img id="image3" class="card_image" src="" alt="dubstep_words">
            <p id="discription3"></p>
            <a href="/dubstep" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header4"></h3>
            <img id="image4" class="card_image" src="" alt="house_music_image">
            <p id="discription4"></p>
            <a href="/house" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3 id="header5"></h3>
            <img id="image5" class="card_image" src="" alt="rave_word">
            <p id="discription5"></p>
            <a href="/rave" class="btn btn-danger btn-sm">More!</a>
        </div>
    </div>
</div>