<div class="container">
    <h1>Find Music!</h1>
    <a href="/project_1" class="btn btn-danger btn-sm">Back</a>
    <h5>Pick A Genre:</h5>
    <div class="row">
        <div class="col-xs-6 card">
            <h3>Techno</h3>
            <img class="card_image" src="../media/img/techno_image.jpg" alt="techno_sound_tube">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/techno" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Trance</h3>
            <img class="card_image" src="../media/img/trance_image.jpg" alt="trance_artists">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/trance" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Dubstep</h3>
            <img class="card_image" src="../media/img/dubstep_image.jpg" alt="dubstep_words">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/dubstep" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>House</h3>
            <img class="card_image" src="../media/img/house_image.png" alt="house_music_image">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/house" class="btn btn-danger btn-sm">More!</a>
        </div>
        <div class="col-xs-6 card">
            <h3>Rave</h3>
            <img class="card_image" src="../media/img/rave_image.png" alt="rave_word">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
            <a href="/rave" class="btn btn-danger btn-sm">More!</a>
        </div>
    </div>
</div>